html { overflow-y:scroll; }

#wrapper { padding: 0 20px; }

main { padding-bottom: 50px; }

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	padding: 0 20px;
	background-color: #fff;
	color: black;
	z-index: 1100;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 100;
	background: rgba(255, 255, 255, 0.5);
}

.bigPicture {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bigPicture img {
	width: 600px;
}

/* custom bootstrap inputFile css; ellipsis 추가 */
.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

.imgWindowContainer {
	position: relative;
	width: 100%; /* The size you want */
}

.imgWindowContainer:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	/* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.imgWindowContainer img {
	position: absolute; /* Take your picture out of the flow */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; /* Make the picture taking the size of it's parent */
	width: 100%; /* This if for the object-fit */
	height: 100%; /* This if for the object-fit */
	object-fit: cover;
	/* Equivalent of the background-size: cover; of a background-image */
	object-position: center;
}

.imgContainer {
	position: relative;
	width: 100%; /* The size you want */
}

.imgContainer:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	/* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.imgContainer img {
	position: absolute; /* Take your picture out of the flow */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; /* Make the picture taking the size of it's parent */
	width: 100%; /* This if for the object-fit */
	height: 100%; /* This if for the object-fit */
	object-fit: cover;
	/* Equivalent of the background-size: cover; of a background-image */
	object-position: center;
}

@media (min-width: 1200px) {
	.offset-xl-05 {
		margin-left: 4.166667%;
	}
	.imgWindowContainer-xl {
		position: relative;
		width: 100%; /* The size you want */
	}
	.imgWindowContainer-xl:after {
		content: "";
		display: block;
		padding-bottom: 85%;
		/* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
	}
	.imgWindowContainer-xl img {
		position: absolute; /* Take your picture out of the flow */
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; /* Make the picture taking the size of it's parent */
		width: 100%; /* This if for the object-fit */
		height: 100%; /* This if for the object-fit */
		object-fit: contain;
		/* Equivalent of the background-size: cover; of a background-image */
		object-position: center;
	}
}

@media ( min-width : 1680px) {
	.col-xxl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
	.col-xxl-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}
	.col-xxl-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-xxl-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-xxl-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-xxl-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-xxl-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-xxl-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-xxl-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-xxl-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-xxl-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-xxl-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-xxl-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-xxl-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.offset-xxl-1 {
		margin-left: 8.333333%;
	}
	.offset-xxl-2 {
		margin-left: 16.666667%;
	}
	.imgWindowContainer-xxl {
		position: relative;
		width: 100%; /* The size you want */
	}
	.imgWindowContainer-xxl:after {
		content: "";
		display: block;
		padding-bottom: 75%;
		/* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
	}
	.imgWindowContainer-xxl img {
		position: absolute; /* Take your picture out of the flow */
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; /* Make the picture taking the size of it's parent */
		width: 100%; /* This if for the object-fit */
		height: 100%; /* This if for the object-fit */
		object-fit: contain;
		/* Equivalent of the background-size: cover; of a background-image */
		object-position: center;
	}
}

.material-icons {
	font-size: 1em;
}

.material-icons-create {
	color: #007;
	cursor: pointer;
}

.material-icons-clear {
	color: #d00;
	cursor: pointer;
}

.material-icons-outlined-fiber_new {
	color: red;
	font-size: 1.7em;
	position: relative;
	top: 3px;
}

.battlesHeaderHover{
	transition: transform 0.1s ease-out; transform:scale(1); transform-origin: 50%;
}

.leftImg{
	transition: transform 0.5s ease-out; transform:scale(1); transform-origin: 0%;
}

.rightImg{
	transition: transform 0.5s ease-out; transform:scale(1); transform-origin: 100%;
}